<!DOCTYPE HTML>
<HTML>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Daniel Kim">
  
  <title>Article-Scraper</title>

  {{!-- Bootstrap CDN --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  {{!-- Materialize CSS CDN --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  {{!-- Custom CSS --}}
  <link rel="stylesheet" href="assets/stylesheets/style.css">
</head>

<body>
  {{!-- Navbar --}}
  <nav>
    <div class="nav-wrapper mainNav">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/"><img src="assets/images/logo-ltgray.png" class="logo"></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="#">Saved Articles</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn scrapeBtn" href="/scrape">Scrape New Articles</a></li>
        <li><a href="https://www.theverge.com/tech">The Verge</a></li>
        <li><a href="https://github.com/dskay3/Article-Scraper">Github Repo</a></li>
      </ul>
    </div>
  </nav>

  {{!-- Header --}}
  <div class="newspaper center">
    <h1 class="center">Article Scraper</h1>
  </div>

  {{!-- Article Information --}}
  <div class="container">
    {{#unless articles}}

    <div class="jumbotron text-center noArticle">
      No articles here. You need to scrape new articles.
    </div>

    {{/unless}}

    {{{ body }}}
  </div>

  {{!-- Footer --}}
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="copyright-text">
        © Articles are scraped from <a href="https://www.theverge.com/tech">www.theverge.com</a>. Author does not claim copyright for this material.
      </div>
    </div>
  </footer>

  {{!-- Materialize JS CDN --}}
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  {{!-- Custom JS --}}
  <script type="text/javascript" src="assets/javascripts/app.js"></script>

</body>

</HTML>